<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:name=".data.ViewSharer"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="我是奶龙"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".MusicActivity"
            android:exported="false" />
        <activity
            android:name=".FeedBackActivity"
            android:exported="false" />
        <activity
            android:name=".ManageAuditActivity"
            android:exported="false" />
        <activity
            android:name=".ListDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ManageUserActivity"
            android:exported="false" />
        <activity
            android:name=".ManageCommentActivity"
            android:exported="false" />
        <activity
            android:name=".ManageResourceActivity"
            android:exported="false" />
        <activity
            android:name=".AnimationActivity"
            android:exported="false" />
        <activity
            android:name=".PlayListActivity"
            android:exported="false" />
        <activity
            android:name=".page.Home.DownLoad.downLoadActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".page.CreationCenter.UpLoad.UpLoadActivity"
            android:exported="false"
            android:label="@string/title_activity_up_load"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".page.Video.PlayVideoActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".page.Profile.UserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".PhotoActivity"
            android:exported="false" />
        <activity
            android:name=".ImageActivity"
            android:exported="false" />
        <activity
            android:name=".page.Profile.Setting.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".page.Profile.AboutUs.AboutUsActivity"
            android:exported="false" />
        <activity
            android:name=".page.Profile.CheckUpdata.CheckUpdateActivity"
            android:exported="false" />
        <activity
            android:name=".page.Profile.EditInfo.EditInfoActivity"
            android:exported="false" />
        <activity
            android:name=".page.Search.SearchResultActivity"
            android:exported="false" />
        <activity
            android:name=".page.CreationCenter.Doodle.DoodleActivity"
            android:exported="false" />
        <activity
            android:name=".TextActivity"
            android:exported="false" />
        <activity
            android:name=".page.Home.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".page.CreationCenter.CreationCenterActivity"
            android:exported="false" />
        <activity
            android:name=".page.Shopping.ShoppingActivity"
            android:exported="false" />
        <activity
            android:name=".page.Profile.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".page.Park.ParkActivity"
            android:exported="false" />
        <activity
            android:name=".page.ChangePassword.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".page.Login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".page.Register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".page.SwitchUser.SwitchUserActivity"
            android:exported="false" />
        <activity
            android:name=".page.Bluetooth.BluetoothActivity"
            android:exported="false" />
        <activity
            android:name=".page.Welcome.WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>